
/* General settings  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
*/
}

.container {
    width: 80%;
    margin: 0 auto;
}

button {
    background-color: #d8233f;
    color: white
    border-radius: .2rem;
    border: none;
    outline: none;
}

/* Header  */
header {
    background-color: #10d25d ;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    cursor: pointer;
}
/* nav icon  */
header #navicon {
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}
/* Title :Poster Shop  */
header h1 {
    text-align: center;
    font-size: 60px;
}
/* Ninjahead image  */
header .ninjahead {
    justify-self: center;
    align-self: flex-end;
    max-width: 220px;
}

/* main  */
main {
 margin: 26px;
}

/* small-cards section  */
.small-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 30%));
    justify-content: space-around;
    gap: 2rem 2rem;
}


/* one card in small-cards  */
.small-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 5rem;
}

.small-card .card-img {
    width: 100%;
}

.small-card .card-title {
    font-size: 2rem;
    color: #ffffff;
}

.small-card .card-text {
    color: #ffffff;
    margin-bottom: 2rem;
}

.small-card .card-btn {
    width: 150px;
    padding: .5rem 1rem;
    font-size: .8rem;
}

/* medium-cards section  */
.medium-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 47%));
    justify-content: space-around;
    gap: 1rem 2rem;
}

/* medium-card  */
.medium-card {
    display: grid;
    gap: 1rem;
    margin-bottom: 5rem;
    background-color: #ffffff;
}

.medium-card .card-img {
    width: 100%;
    margin-bottom: 1rem;
}

.medium-card .card-title {
    font-size: 2rem;
    color: black;
    margin: 0 1rem;
}

.medium-card .card-text {
    color: black;
    margin: 1rem 1rem 3rem;
}

.medium-card .card-btn {
    width: 170px;
    padding:8px;
    margin: 14px;
    font-size:10px;
}

/* footer  */
footer {
    background-color:#363434 ;
    padding: 10px  8px 10px;
}

.footer-groups {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    justify-content: space-between;
    gap: 2rem;
}

.nav-group nav {
    display: grid;
}

.nav-group nav a {
    text-decoration: none;
    color: whitesmoke
}

footer h3 {
    font-size: 2rem;
    color:whitesmoke
    margin-bottom: 1rem;
}

footer p{
    color: whitesmoke
}

footer ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-start;
}

footer ul li {
    margin-right: 1.1rem;
    cursor: pointer;
}

/* checkout screen  */

.checkout-subtitle {
    color: white;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.checkout {
    color: whitesmoke
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 1rem;
}


.checkout-header, .checkout-item {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin: 1rem;
  
}

.checkout-total {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: 1rem;
}

.checkout-header {
    background-color:  #550707;
    padding: .5rem 0;
}

.checkout-header span:first-of-type {
    padding-left: 6rem;
}

.checkout-header span:last-of-type {
    padding-right: 2rem;
}

.checkout-item p, .checkout-item span, .checkout-total p, .checkout-total span {
    font-size: 1.2rem;
}

.checkout-total p, .checkout-total span {
    font-size: 1.3rem;
    font-weight: 500;
}

.checkout-items>div:last-child {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2rem;
}

.btn-container {
    display: grid;
    justify-content: flex-end;
}

.checkout button {
    max-width: 250px;
    padding: .8rem 1rem;
    margin: 4rem 1rem 1rem;
    font-size: 1rem;
    font-weight: bold;
}



/* toggle nav */
/* navbar styling  */
#navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px 0 #000000;
    padding: .8rem;
}

#nav-items {
    list-style: none;
    display: flex;
}

#nav-item {
    padding: 1rem 2rem;    
}

#nav-item a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
}

#close-icon {
    padding: 1rem 2rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    color: #000000;
}



@media only screen and (max-width:768px ){

    .container {
        width: 90%;
    }

    .checkout-subtitle {
        text-align: center;
    }

    .small-card .card-title, .medium-card .card-title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:613px ){

    .small-cards, .medium-cards {
    grid-template-columns: 75%;
}
}

@media only screen and (max-width:515px ){

    header h1 {
        font-size: 3rem;
    }

    #nav-item {
        padding: 1rem;
    }

    #nav-item a {
        font-size: 1rem;
    }

    #close-icon {
        margin-right: 0;
    }
}

@media only screen and (max-width:420px ){

    header h1 {
        font-size: 2.5rem;
    }

    #nav-item {
        padding: .7rem;
    }

    #nav-item a {
        font-size: .8rem;
    }
}


